
@if (statusPaciente() == "Confirmada"){
    <p-button severity="danger" icon="fa-solid fa-x" variant="text"/>
    <p-button severity="info" icon="fa-regular fa-circle-play" variant="text"/>
} @else if (statusPaciente() == "Agendada") {
    <p-button severity="success" icon="fa-solid fa-check" variant="text"/>
    <p-button severity="danger" icon="fa-solid fa-x" variant="text"/>
}@else if (statusPaciente() == "Em Andamento") {
    <p-button severity="success" icon="fa-regular fa-file-lines" variant="text"/>
}
